<%- include('../partials/header') -%> 
<style>
    .avatarimg{
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
        object-fit: cover;
    }
</style>
<section class="content">
    <div class="container-fluid">
        <!-- Exportable Table -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card" style="margin-top: 4rem;">
                    <div class="header">
                        <h3 class="text-white mb-0" style="color: #000 !important;"><%= title %> </h3>
                        <h5 style="margin-top: 1rem;"><%= data.length %> occurence(s)</h5>
                        <!-- <div class="header-dropdown m-r--5">
                               <button style="margin-top:0px;" class="btn-hover btn-border-radius color-5" onclick="window.location='/dashboard/publicites/add'">Ajouter</button>
                    
                        </div> -->
                    </div>
                    <div class="body">
                        <div class="table-responsive">
                            <table  id="tableExport" class="display table table-hover table-checkable order-column m-t-20 width-per-100" style="width: 100%">
                                <thead>
                                    <tr>
                                      <th>Titre</th>
                                        <th>Description</th>
                                        <th>Annonceur</th>
                                        <th>Quartier</th>
                                        <th>Date</th>
                                        <th style="text-align: end;">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach((item)=>{ %>
                                    <tr>
                                        <td><%= item.name %></td>
                
                                        <td >
                                        <%= item.description %> &nbsp;&nbsp;
                                        </td>
                                        <td><%= item.requester && item.requester.name + " ("+ item.requester.phone + ")" %></td>
                                        <td><%= item.idQuartier.name %>, <%= item.idQuartier.idVille.name %>, <%= item.idQuartier.idVille.idRegion.name %>, <%= item.idQuartier.idVille.idRegion.idPays.name %></td>
                                        
                                        <td><%= item &&  new Date(item.createdAt).toLocaleString() %></td>
                                        
                                        <td style="text-align: end;">
                                           
                                            <!-- <a href="/dashboard/publicites/<%= item.id %>/edit" class="btn btn-tbl-edit" title="Modifier">
                                                <i class="material-icons">create</i>
                                            </a> -->
                                            <a href="/api/info-delete/<%= item.id %>" class="btn btn-tbl-edit btn-danger delete" title="Supprimer">
                                                <i class="material-icons">delete_sweep</i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %> 
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Exportable Table -->
    </div>
</section>

<%- include('../partials/footer') -%> 